<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base4j.mapper.admin.SysUserMapper">
    <select id="querySysUserList" resultType="com.base4j.entity.admin.SysUser">
        SELECT
           *
        FROM
        `system_user`
    </select>

</mapper>